### Module import

In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

## Step 1: Data Import: Apple dataset and Google dataset

### Apple app store dataset extraction and import

In [17]:
#import csv file into pandas
csv_data = pd.read_csv("AppleStore.csv", encoding="utf-8")
apple_df = pd.DataFrame(csv_data)
apple_df.head(10)
apple_df.sort_values(by=["track_name"])

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
2705,3219,883539642,! OH Fantastic Free Kick + Kick Wall Challenge,162557952,USD,0.00,0,0,0.0,0.0,4.0,4+,Games,40,5,2,1
1100,1285,486692623,"""Burn your fat with me!!""",149757952,USD,1.99,302,14,4.5,4.0,5.2.4,17+,Health & Fitness,38,0,3,1
3358,4054,956794130,"""HOOK""",76611584,USD,0.99,959,150,5.0,5.0,1.04,4+,Games,40,5,1,1
5951,8286,1105390093,"""klocki""",97887232,USD,0.99,587,587,4.5,4.5,1.01,4+,Games,37,2,1,1
3551,4317,974022309,( OFFTIME ) light – Track how much you use you...,28471296,USD,2.99,22,14,2.0,2.0,2.1.0,4+,Health & Fitness,37,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5939,8259,1104879125,애드픽 - 인플루언서가 되어 의미있는 수익을 올리세요!,28006400,USD,0.00,0,0,0.0,0.0,1.0.9,12+,Business,37,5,4,1
7035,10576,1168593601,２ちゃんねる for iPhone,21508096,USD,0.00,0,0,0.0,0.0,3.0,17+,News,37,0,1,1
7164,10984,1181724803,ＣＲスーパー海物語ＩＮ沖縄４,3503480832,USD,9.99,0,0,0.0,0.0,1.0.2,12+,Games,40,0,1,0
5625,7624,1090842524,Ｘ:15秒の人気 アクション ゲーム,131354624,USD,0.00,0,0,0.0,0.0,1.2.6,4+,Games,40,4,1,1
4740,6098,1059271164,ｗｗｗ,14366720,USD,0.00,0,0,0.0,0.0,1.0.1,4+,Games,40,4,2,1

### Google app store dataset extraction, transformation

##### Store Google Dataset CSV into DataFrame

In [18]:
csv_file = "Google-Playstore-Full.csv"
google_df = pd.read_csv(csv_file,low_memory=False)
google_df.head()
google_df.sort_values(by="App Name")

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
96202,!??????? - ??? ??????? - ?????? ?? ????????????,MUSIC_AND_AUDIO,4.727735519,393,"5,000+",6.9M,0,Everyone,"July 11, 2018",4.2 and up,2,NaN,NaN,NaN,NaN
94081,#01 Official Merchandise,PRODUCTIVITY,5,14,100+,13M,0,Everyone,"February 21, 2019",4.4 and up,1.13.0,NaN,NaN,NaN,NaN
261037,#1 Herpes Dating App for Positive Singles Hookup,SOCIAL,3.97969532,197,"5,000+",6.7M,0,Mature 17+,"January 30, 2019",4.0.3 and up,2.0.3,NaN,NaN,NaN,NaN
259797,"#1 Share Chat - Tik Tok , Whatsapp & Video Status",ENTERTAINMENT,4.833333492,90,"1,000+",Varies with device,0,Everyone,"March 27, 2019",4.1 and up,2.3,NaN,NaN,NaN,NaN
16606,"#1 Vocab App: Editorial, Quiz, Grammar, Dictio...",EDUCATION,4.616820812,53505,"1,000,000+",11M,0,Everyone,"March 26, 2019",4.1 and up,7.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,�zl� S�zler,GAME_EDUCATIONAL,4.5,8,"1,000+",4.4M,0,Everyone,"September 29, 2016",2.3 and up,1.1,NaN,NaN,NaN,NaN
170678,�zl� S�zler,ENTERTAINMENT,4.08500433,4388,"500,000+",1.1M,0,Everyone,"July 5, 2014",2.3 and up,2.5,NaN,NaN,NaN,NaN
222296,�� Aylar ve Kandiller Rehberi,LIFESTYLE,4.792452812,159,"10,000+",41M,0,Everyone,"November 23, 2018",4.0 and up,1.2,NaN,NaN,NaN,NaN
193767,��z-�?ren,EDUCATION,2.79359436,281,"50,000+",4.5M,0,Everyone,"January 10, 2019",4.0.3 and up,1.6,NaN,NaN,NaN,NaN
202783,NaN,NEWS_AND_MAGAZINES,2.75,436,"50,000+",20M,0,Everyone,"March 26, 2019",4.1 and up,4.21.1,NaN,NaN,NaN,NaN

## Step2: Data Transformation: rename columns, drop missing values, drop duplicates, inner join

### Create new data with select columns

In [4]:
final_apple_df = apple_df[["track_name", "size_bytes", "user_rating", "rating_count_tot", "price", "cont_rating"]].copy()

In [5]:
new_google_df = google_df[['App Name', 'Category', 'Rating','Reviews','Installs','Size','Price','Content Rating']].copy()
new_google_df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone

### Rename the columns of Apple app list

In [6]:
#renamed with appended "_g" for google store columns and "_a" for apple store
final_apple_df.rename(columns = {'track_name':'App_Name', 'size_bytes': 'Size_a', 'user_rating': 'user_rating_a', 'rating_count_tot': 'rating_count_tot_a', 'price' : 'price_a', 'cont_rating': 'cont_rating_a'}, inplace = True)
final_apple_df.head()

,App_Name,Size_a,user_rating_a,rating_count_tot_a,price_a,cont_rating_a
0,PAC-MAN Premium,100788224,4.0,21292,3.99,4+
1,Evernote - stay organized,158578688,4.0,161065,0.00,4+
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,3.5,188583,0.00,4+
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,4.0,262241,0.00,12+
4,Bible,92774400,4.5,985920,0.00,4+

### Drop duplicates and missing values of Apple app list

In [7]:
final_apple_df.drop_duplicates(inplace = True)
final_apple_df.dropna(inplace = True)
final_apple_df.head()

,App_Name,Size_a,user_rating_a,rating_count_tot_a,price_a,cont_rating_a
0,PAC-MAN Premium,100788224,4.0,21292,3.99,4+
1,Evernote - stay organized,158578688,4.0,161065,0.00,4+
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,3.5,188583,0.00,4+
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,4.0,262241,0.00,12+
4,Bible,92774400,4.5,985920,0.00,4+

### Rename the columns of Google app list

In [8]:
google_renamed=new_google_df.rename(columns={"App Name":"App_Name","Category": "Category_g", "Rating": "Rating_g",
                              "Reviews":"Reviews_g","Installs":"Installs_g",
                              "Size":"Size_g","Price":"Price_g","Content Rating":"Content_Rating_g"})
google_renamed.head()
google_renamed.describe()

,App_Name,Category_g,Rating_g,Reviews_g,Installs_g,Size_g,Price_g,Content_Rating_g
count,267051,267051,267052,267051,267052,267052,267052,267052
unique,244406,67,99856,24544,38,1248,504,12
top,????,EDUCATION,5,1,"10,000+",Varies with device,0,Everyone
freq,766,33394,23804,9203,60531,11726,255428,241578

### Drop duplicates and missing values of Google app list

In [9]:
google_renamed.dropna()
google_renamed.drop_duplicates(inplace=True)

In [10]:
google_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267035 entries, 0 to 267051
Data columns (total 8 columns):
App_Name            267034 non-null object
Category_g          267034 non-null object
Rating_g            267035 non-null object
Reviews_g           267034 non-null object
Installs_g          267035 non-null object
Size_g              267035 non-null object
Price_g             267035 non-null object
Content_Rating_g    267035 non-null object
dtypes: object(8)
memory usage: 18.3+ MB

### Merge two tables based the common key "App_Name"

In [11]:
app_df=google_renamed.merge(final_apple_df, how="inner", on="App_Name")

In [12]:
app_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1434
Data columns (total 13 columns):
App_Name              1435 non-null object
Category_g            1435 non-null object
Rating_g              1435 non-null object
Reviews_g             1435 non-null object
Installs_g            1435 non-null object
Size_g                1435 non-null object
Price_g               1435 non-null object
Content_Rating_g      1435 non-null object
Size_a                1435 non-null int64
user_rating_a         1435 non-null float64
rating_count_tot_a    1435 non-null int64
price_a               1435 non-null float64
cont_rating_a         1435 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 157.0+ KB

### Preview first five rows after merging two tables

In [13]:
app_df.head()

,App_Name,Category_g,Rating_g,Reviews_g,Installs_g,Size_g,Price_g,Content_Rating_g,Size_a,user_rating_a,rating_count_tot_a,price_a,cont_rating_a
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,100554752,4.5,25947,0.0,4+
1,Allrecipes Dinner Spinner,FOOD_AND_DRINK,4.545353413,67514,"5,000,000+",Varies with device,0,Everyone,36399104,3.5,109349,0.0,12+
2,Domino's Pizza USA,FOOD_AND_DRINK,4.739675045,1177040,"10,000,000+",Varies with device,0,Everyone,105743360,5.0,258624,0.0,4+
3,Chick-fil-A,FOOD_AND_DRINK,4.374690533,52526,"5,000,000+",19M,0,Everyone,96230400,3.5,5665,0.0,4+
4,Amazon Prime Now,SHOPPING,3.924423456,24849,"10,000,000+",38M,0,Teen,48007168,3.0,895,0.0,4+

## Step 3: Data Load: import dataset to postgreSQL

### Connect to local database

In [14]:
rds_connection_string = "postgres:@localhost:5432/App_list"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [15]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) fe_sendauth: no password supplied

(Background on this error at: http://sqlalche.me/e/e3q8)

### Use pandas to load json converted DataFrame into database

In [ ]:
app_df.to_sql(name='app_list', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the App_list table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from app_list', con=engine).head()