In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

### Store Google Dataset CSV into DataFrame

In [2]:
csv_file = "Google-Playstore-Full.csv"
google_df = pd.read_csv(csv_file,low_memory=False)
google_df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0,NaN,NaN,NaN,NaN
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2,NaN,NaN,NaN,NaN
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN

### Create new data with select columns

In [3]:
new_google_df = google_df[['App Name', 'Category', 'Rating','Reviews','Installs','Size','Price','Content Rating']].copy()
new_google_df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone

### Rename the columns based on the dataset source

In [4]:
google_renamed=new_google_df.rename(columns={"Category": "Category_g", "Rating": "Rating_g",
                              "Reviews":"Reviews_g","Installs":"Installs_g",
                              "Size":"Size_g","Price":"Price_g","Content Rating":"Content Rating_g"})
google_renamed.head()

,App Name,Category_g,Rating_g,Reviews_g,Installs_g,Size_g,Price_g,Content Rating_g
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone

In [5]:
google_renamed.describe()

,App Name,Category_g,Rating_g,Reviews_g,Installs_g,Size_g,Price_g,Content Rating_g
count,267051,267051,267052,267051,267052,267052,267052,267052
unique,244406,67,99856,24544,38,1248,504,12
top,????,EDUCATION,5,1,"10,000+",Varies with device,0,Everyone
freq,766,33394,23804,9203,60531,11726,255428,241578

### Data Cleaning

In [7]:
google_renamed.dropna()

,App Name,Category_g,Rating_g,Reviews_g,Installs_g,Size_g,Price_g,Content Rating_g
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone
...,...,...,...,...,...,...,...,...
267047,Community Healthplex,HEALTH_AND_FITNESS,5,1,100+,4.2M,0,Everyone
267048,Pet ads: Buy & Sell,BUSINESS,2.599999905,5,500+,8.4M,0,Everyone
267049,Collectors Market: Buy & Sell,BUSINESS,3.285714388,7,"1,000+",7.9M,0,Everyone
267050,"Car Market, Buy & Sell",BUSINESS,5,1,"1,000+",8.2M,0,Everyone
267051,Selfie with Ariana Grande,PHOTOGRAPHY,4.611111164,18,"1,000+",7.8M,0,Everyone

In [13]:
google_renamed.drop_duplicates(inplace=True)

In [14]:
google_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267035 entries, 0 to 267051
Data columns (total 8 columns):
App Name            267034 non-null object
Category_g          267034 non-null object
Rating_g            267035 non-null object
Reviews_g           267034 non-null object
Installs_g          267035 non-null object
Size_g              267035 non-null object
Price_g             267035 non-null object
Content Rating_g    267035 non-null object
dtypes: object(8)
memory usage: 18.3+ MB